@model Beer.Models.Brewery

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Brewery", FormMethod.Post, new { @class = "ym-form" }))
{
    @Html.ValidationSummary(true)

        <div class="ym-fbox-text">
            @Html.LabelFor(model => model.BreweryName)
            @Html.EditorFor(model => model.BreweryName)
            @Html.ValidationMessageFor(model => model.BreweryName)
        </div>

        <div class="ym-fbox-text">
            @Html.LabelFor(model => model.Equiptment)
            @Html.EditorFor(model => model.Equiptment)
            @Html.ValidationMessageFor(model => model.Equiptment)
        </div>

        <div class="ym-fbox-check">      
            @Html.EditorFor(model => model.AllGrain)
            @Html.LabelFor(model => model.AllGrain)
            @Html.ValidationMessageFor(model => model.AllGrain)
        </div>

        <div class="ym-fbox-text">
            @Html.LabelFor(model => model.Latitude)
            @Html.EditorFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </div>

        <div class="ym-fbox-text">
            @Html.LabelFor(model => model.Longitude)
            @Html.EditorFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </div>

        
  
        <p>
            <input type="submit" value="Create" />
        </p>
  <div id="map_canvas"></div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
