@model IEnumerable<Beer.Models.Brewery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            BreweryName
        </th>
        <th>
            Equiptment
        </th>
        <th>
            AllGrain
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BreweryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equiptment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllGrain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BreweryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BreweryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BreweryID })
        </td>
    </tr>
}

</table>
