@model Beer.Models.BeerItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BeerItem</legend>

    <div class="display-label">SubCategoryID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategoryID)
    </div>

    <div class="display-label">BreweryID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreweryID)
    </div>

    <div class="display-label">BeerItemName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeerItemName)
    </div>

    <div class="display-label">BeerItemComments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeerItemComments)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
