@model IEnumerable<Beer.Models.BeerItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            SubCategoryID
        </th>
        <th>
            BreweryID
        </th>
        <th>
            BeerItemName
        </th>
        <th>
            BeerItemComments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreweryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerItemComments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeerItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BeerItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeerItemID })
        </td>
    </tr>
}

</table>
